<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wiggler</title> 
    <!-- title icon? -->

</head>
<body>
    <div>
        <h1>wiggler.io</h1>  <!-- publish to .io Games -->
        <p>Ready to wiggle?</p>
    </div>
    <div>
        <form action="/">
            wigglerName: <input type="text" name="wigglerName"><br>
            <input type="submit" value="____">
        </form>
    </div>

</body>
</html>